/bin/BRLinux*
/bin/initramfs.*.img
/bin/initramfs.*.tmp/
/bin/vmlinuz
/src/_install
/src/busybox-*
/src/dropbear-*
/src/glibc-*
/src/grub-*
/src/iperf-*
/src/iproute2-*
/src/iptables-*
/src/libmnl-*
/src/libnetfilter_conntrack-*
/src/libnfnetlink-*
/src/libnftnl-*
/src/libxcrypt-*
/src/linux-*
/src/nftables-*
