src/busybox-*/
src/grub-*/
src/iptables-*/
src/libmnl-*/
src/libnetfilter_conntrack-*/
src/libnfnetlink-*/
src/libnftnl-*/
src/linux-*/
bin/initramfs.*.img
bin/initramfs.*.tmp/
bin/BRLinux*
bin/vmlinuz
